[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]
black = "==21.12b0"
flake8 = "*"
isort = "*"
mock = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
shellcheck-py = "*"
types-mock = "*"
yamllint = "*"

[requires]
python_version = "3.10"

[scripts]
build = "./scripts/build.sh"
lint = "./scripts/lint.sh"
test = "./scripts/test.sh"
