body {
  display: flex;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
}

header,
footer {
  max-width: 36rem;
}

p {
  line-height: 1.4;
  margin: 0;
}

a {
  text-decoration: none;
}

textarea {
  font-size: 20px;
  resize: none;
}

#content {
  align-content: center;
  align-items: center;
  width: 60rem;
  margin-inline: auto;
  max-width: 90vw;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

#app {
  display: flex;
  gap: 10px;
  margin-top: var(--vertical-spacing);
  margin-bottom: var(--vertical-spacing);
  margin-inline: auto;
  max-width: max(100%, 55rem);
  width: 100%;
}

#input-container {
  display: flex;
  flex-flow: column nowrap;
}

#output-container {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}

#include-emoji-container {
  margin-top: 0.6rem;
  margin-bottom: 0.4rem;
}

#include-emoji-container input {
  float: left;
  margin-right: 0.4rem;
}

#include-emoji-container label {
  display: block;
}

button {
  height: 3rem;
  margin-top: 0.3rem;
}

@media (orientation: landscape) {
  body {
    --vertical-spacing: 3rem;
    align-items: center;
    min-height: 100vh;
  }

  #app {
    flex-flow: row wrap;
  }

  #input {
    width: 15em;
    height: 100%;
  }
}

@media (orientation: portrait) {
  body {
    --vertical-spacing: 1rem;
    margin-top: 1rem;
  }

  h1 {
    margin-top: 0.5rem;
  }

  #app {
    flex-flow: column nowrap;
  }

  #input {
    height: 11em;
  }

  #output {
    height: 33vh;
  }
}
